<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row justify-content-start">
    <label>
      <h2>Accept Gratuities</h2>
    </label>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>Account Number</label>
    </div>
    <div class="col-md-4">
      {{dataConfig.pd3GratuityBankDetails.accountNumber}}
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>Gratuity Amount</label>
    </div>
    <div class="col-md-4">
        {{dataConfig.pd3GratuityBankDetails.gratuityAmount.toFixed(2)}}
    </div>
  </div><br />
  <div class="row">
    <div class="col-md-5">
      <label>Net gratuity amount</label>
    </div>
    <div class="col-md-4">
        {{dataConfig.pd3GratuityBankDetails.netGratuityAmount.toFixed(2)}}
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>Government deduction</label>
    </div>
    <div class="col-md-4">
        {{dataConfig.pd3GratuityBankDetails.govDeduction.toFixed(2)}}
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>Bank</label>
    </div>
    <div class="col-md-4">
        dfrgrg
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>Branch</label>
    </div>
    <div class="col-md-4">
      dfvfdbv
    </div>
  </div><br />

  <div class="row justify-content-end">
    <div class="col-md-6">
        <button (click)="close()" mat-raised-button color="warn">Cancel</button>
      <button (click)="acceptGratuity()" class="receive-button" mat-raised-button color="primary">Accept</button>
    </div>
  </div>
</div>