<div style="position: relative;float:right"><button class="print-button col-lg-12" (click)="print()"><span
      class="print-icon"></span></button></div><br><br><br><br>
<div><i class="fa fa-window-close-o" aria-hidden="true" style="float:right;margin-right:20px;"></i>
</div>
<div class="container" style="margin-left: 0px; position: fixed; height: 100%;" id="container">

  <div class="background" id="background">
    <img src="../../../../../assets/images/Award.jpg" style="height: 1530px; width:1100px;" alt="" />
    <div class="date">Dilsara</div>
    <div class="ref">rfhrfthtfrtht</div>
    <div class="pensionNumber">frbhfrbfgb</div>
    <div class="wnop">rdfggdeg</div>
    <div class="pensionerDetails">
      <div class="name">rfdgrgrdfgrhgr trhrthrthtrfh thtrfhg</div>
      <div class="office">rtfhrhrfhrhrfh </div>
      <div class="retireDate">rfthtrhtrhthth</div>
      <div class="post">tfrhthtghtgh</div>
      <div class="nic">thththtghtghtgh</div>
    </div>
    <div class="paymentDetails">
      <div class="reducedAmount">ytgjhytgjygj}</div>
      <div class="unreducedAmount">tghtghjtgh</div>
      <div class="pensionAccount">thtghtght</div>
      <div class="pensionBank">thtrhththtg</div>
      <div class="gratuityAmount">thththtghhththt</div>
      <div class="gratuityBank">thththth gthththth</div>
      <div class="gratuityAccount">thththth</div>
    </div>
    <div class="spouseDetails">
      <div>
        <div class="spouseName">thhththtghtg tht</div>
        <div class="spouseNic">thththh</div>
        <div class="marriageDate">ththth</div>
      </div>
    </div>
    <div class="marriageCertDistrict">gtjhtjtyj </div>
    <div class="marriageNo">ytjyjyjyhj yhjyjh</div>
    <!-- <div class="childrenDetails">
      <table>
        <tr>
          <td class="childrenName-{{i}}">
            <div>efgvedgvdegvdgv</div>
          </td>
          <td class="childrenDOB-{{i}}">
            <div>edfgedfgdefg</div>
          </td>
          <td class="childrenNic-{{i}}">
            <div>egedgerer</div>
          </td>
          <td class="childrenDisabled-{{i}}">
            <div>
              <div>No</div>
              <div>Yes</div>
            </div>

          </td>

        </tr>
      </table>
    </div> -->
   
  </div>


</div>