<h5 style="min-width: 500px;" mat-dialog-title>{{'Add new dependent' | uppercase}}</h5>
<div class="col-12" [formGroup]="form">
  <div style="padding-top: 20px">
      <div class="form-group row" style="display: none">
          <label class="col-sm-3 col-form-label col-form-label-sm">Id
          </label>
          <div class="col-sm-9">
            <input formControlName="id" type="text" class="form-control form-control-sm" placeholder="Dependant id" readonly> 
          </div>
        </div>
    <div class="form-group row" *ngIf="spouses.length > 0">
      <label class="col-sm-3 col-form-label col-form-label-sm">Guardian
      </label>      
      <div class="col-sm-9">        
        <select formControlName="guardian" class="form-control form-control-sm" placeholder="Guardian">
          <option *ngFor="let spouse of spouses" value={{spouse.nic}}>{{ spouse.fullName }}</option>
        </select>
        <!-- <div *ngIf="form.get('guardian').errors && (form.get('guardian').dirty || form.get('guardian').touched)">
          <p *ngIf="form.get('guardian').errors.required" class="text-danger">{{validationMessages.required('Guardian')}}</p>
        </div> -->
      </div> 
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Full Name
      </label>
      <div class="col-sm-9">
        <input formControlName="fullName" type="text" class="form-control form-control-sm" placeholder="Name of the dependent">
        <!-- <div *ngIf="form.get('fullName').errors && (form.get('fullName').dirty || form.get('fullName').touched)">
          <p *ngIf="form.get('fullName').errors.required" class="text-danger">{{validationMessages.required('fullName')}}</p>
          <p *ngIf="!form.get('fullName').errors.required && form.get('fullName').errors.fullName" class="text-danger">{{validationMessages.pattern('fullName')}}</p>
        </div> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Relation
      </label>
      <div class="col-sm-9">
        <select formControlName="relation" class="form-control form-control-sm" placeholder="Relation">
            <option value=1>Son</option>
            <option value=0>Dauguther</option> 
        </select>
        <!-- <div *ngIf="form.get('relation').errors && (form.get('relation').dirty || form.get('relation').touched)">
          <p *ngIf="form.get('relation').errors.required" class="text-danger">{{validationMessages.required('Relation')}}</p>
        </div> -->
      </div>
    </div>    
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">NIC
      </label>
      <div class="col-sm-9">
        <input formControlName="nic" type="text" class="form-control form-control-sm" placeholder="XXXXXXXXXV">
        <!-- <div *ngIf="form.get('nic').errors && (form.get('nic').dirty || form.get('nic').touched )">
          <p *ngIf="form.get('nic').errors.nic" class="text-danger">{{validationMessages.pattern('NIC')}}</p>
        </div> -->
      </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">Date of birth
        </label>
        <div class="col-sm-9">
          <input formControlName="dob" type="date" class="form-control" placeholder="Starting date"> 
          <!-- <div *ngIf="form.get('dob').errors && (form.get('dob').dirty || form.get('dob').touched)">
            <p *ngIf="form.get('dob').errors.required" class="text-danger">{{validationMessages.required('Date of
              birth')}}</p>
          </div> -->
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Differently abled
      </label>
      <div class="col-sm-9">
        <select formControlName="differentlyAabled" class="form-control form-control-sm" placeholder="Differently abled">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <!-- <div *ngIf="form.get('differentlyAabled').errors && (form.get('differentlyAabled').dirty || form.get('differentlyAabled').touched)">
          <p *ngIf="form.get('differentlyAabled').errors.required" class="text-danger">{{validationMessages.required('Differently
            Aabled')}}</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="float-right">
    <div class="btn-group" role="group" aria-label="Third group">
      <button style="min-width: 100px" class="float-right btn btn-sm btn-danger" (click)="close()">CANCEL</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <button style="min-width: 100px" class="float-right btn btn-sm btn-primary" [disabled]="!form.valid" (click)="saveAndClose()">ADD</button>
    </div>
  </div>
</div>