<div class="container">
  <div class="row justify-content-end">
      <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row justify-content-center">
    <label>
      <h2>Pension History</h2>
    </label>
  </div><br />
  <div class="row justify-content-start">
    <div class="col-md-3"><label>Name</label></div>
    <div class="col-md-5"><label>{{dataConfig.pd3Pensioner.name}}</label></div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-3"><label>NIC Number</label></div>
    <div class="col-md-5"><label>{{dataConfig.pd3Pensioner.nic}}</label></div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-3"><label>Designation</label></div>
    <div class="col-md-5"><label>{{dataConfig.pd3Pensioner.designation}}</label></div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-3"><label>Pension Number</label></div>
    <div class="col-md-5"><label>{{data.refNo}}</label></div>
  </div>
</div><br />

<div class="container">
  <table>
    <tr>
      <th>Date & time</th>
      <th>State</th>
      <th>Responsible Officer</th>
    </tr>
    <tr *ngFor="let list of dataConfig.pd3PensionHistory">
      <td>{{list.timestamp}}</td>
      <td>{{list.state}}</td>
      <td>{{list.responsibleEmployee}}</td>
    </tr>
  </table><br />
</div>