h2{
    font-family: fantasy;
    color:#3f51b5;
}

.example-stretched-tabs {
    max-width: 100%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px;
}

.th1{
  width: 35%;
}

.th2{
  width: 15%;
}

.th3{
  width: 10%;
}

.th4{
  width: 15%;
}

.th5{
  width: 10%;
}

tr:hover {
  background-color: #ddd;
}

button{
  float: right;
}

.infoBtn{
  // text-align: center;
  margin-left: 30%;
}