<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Extra Payment Details</h3>
    </label>
  </div><br />
  <div class="row justify-content-center ">
    <div class="col-md-6 left">
      <div class="row justify-content-center">
        <label><b>Allowances</b></label>
      </div>
      <div class="row justify-content-center" *ngFor="let list of allowances">
        <div class="col-md-1"></div>
        <div class="col-md-6"><label>{{list.description}}</label></div>
        <div class="col-md-4"><label>{{list.amount.toFixed(2)}}</label></div>
      </div>
    </div>
    <div class="col-md-6 right">
      <div class="row justify-content-center">
        <label><b>Deductions</b></label>
      </div>
      <div class="row justify-content-center" *ngFor="let list of deductions">
        <div class="col-md-1"></div>
        <div class="col-md-6"><label>{{list.description}}</label></div>
        <div class="col-md-4"><label>{{list.amount.toFixed(2)}}</label></div>
      </div>
    </div>
  </div>
</div>