<div class="container">
  <br />
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Full name</label>
        </div>

        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.salutation}} . {{dataConfig.pd3BasicInformation.name}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Address</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.address}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>NIC Number</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.nic}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Designation</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.designation}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Birthday</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.dateOfBirth}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Retired date</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.dateOfRetired}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Pensionable</label>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1"
              [checked]="dataConfig.pd3BasicInformation.pensionable==true">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2"
              [checked]="dataConfig.pd3BasicInformation.pensionable==false">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Permanant</label>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3"
              [checked]="dataConfig.pd3BasicInformation.permanant==true">
            <label class="form-check-label" for="inlineRadio3">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4"
              [checked]="dataConfig.pd3BasicInformation.permanant==false">
            <label class="form-check-label" for="inlineRadio4">No</label>
          </div>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>Service domain</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.serviceDomain}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-3">
          <label>W&OP Number</label>
        </div>
        <div class="col-md-6">
          <label>{{dataConfig.pd3BasicInformation.wOPNumber}}</label>
        </div>
      </div><br />

      <!-- <div class="row">
      <div class="col-md-2">
        <label>Marital Status</label>
      </div>
      <div class="col-md-3">
        <label></label>
      </div>
    </div><br /> -->

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
          <button class="col-md-12 col-sm-12 col-lg-12" mat-raised-button color="primary"
            (click)="contactDetailsPopup()">VIEW CONTACT DETAILS</button>
        </div>
        <!-- <div class="col-md-6">
          <button class="col-md-12 col-sm-12 col-lg-12" mat-raised-button color="primary"
            (click)="viewPhotoPopup()">VIEW PHOTO</button>
        </div> -->
      </div><br />
    </div>
    <div class="col-md-2">
      <img class="img-profile img-responsive" src="{{pensionerImage}}" style="height: 200px; width: 150px">
    </div>
  </div>

</div>