<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Pension Department 6 -</h5>
      </div>
    </div>
  </div> <br />

  <div class="row justify-content-center">
    <div class="search_box col-md-12">
      <form method="get">
        <div style="margin-left: 126px">
          <h6 class="search-text">Search Pensioner : &nbsp;

            <input class="searchinput" [(ngModel)]="nic" name='q' type='text' placeholder="Enter NIC number here..."
              maxlength="12">&nbsp;

            <!-- <input class="searchinput" [(ngModel)]="pennum" name='q' type='text' placeholder="Enter Pension number..."
              maxlength="12">&nbsp;&nbsp; -->

            <button class='search_submit' id="search" mat-raised-button class="submit-button-one"
              (click)="searchpd6Pensioner()">Search</button>
          </h6>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row table-content justify-content-center">
  <div class="col-md-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="tbl-header">PID</th>
          <th scope="col" class="tbl-header">Pension Number</th>
          <th scope="col" class="tbl-header">Name</th>
          <th scope="col" class="tbl-header">Pension Type</th>
          <th scope="col" class="tbl-header">Total Pension</th>
          <th scope="col" class="tbl-header">Status</th>
          <th scope="col" style="text-align: center" class="tbl-header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pensioner of pensionerList">
          <th>{{pensioner.id}}</th>
          <th scope="row">{{pensioner.penno}}</th>
          <th scope="row">{{pensioner.name}}</th>
          <td *ngIf="pensioner.pt==1">Civil Pensions</td>
          <td *ngIf="pensioner.pt==2">Teachers Pension</td>
          <td *ngIf="pensioner.pt==3">Armed Forces</td>
          <td *ngIf="pensioner.pt==13">Local Government Widows and Orphans Pensions</td>
          <td *ngIf="pensioner.pt==14">Local Government Widowers Pensions</td>
          <td *ngIf="pensioner.pt==15">Local Government Service Pensions</td>
          <td *ngIf="pensioner.pt==21">Widows Pensions</td>
          <td *ngIf="pensioner.pt==22">Widowers Pensions</td>
          <td *ngIf="pensioner.pt==23">Widows Orphans Pension</td>
          <td *ngIf="pensioner.pt==24">Widows Disable Pensions</td>
          <td *ngIf="pensioner.pt==25">Widows Guardian Pensions</td>
          <td *ngIf="pensioner.pt==27">Widowers Orphans Pensions</td>
          <td *ngIf="pensioner.pt==28">Widowers Disable Pensions</td>
          <td *ngIf="pensioner.pt==31">Teachers Widows Pensions</td>
          <td *ngIf="pensioner.pt==32">Teachers Orphans Pensions</td>
          <td *ngIf="pensioner.pt==33">Teachers Disable Pensions</td>
          <td *ngIf="pensioner.pt==40">Armed Services Widows Pensions</td>
          <td *ngIf="pensioner.pt==41">Armed Services Orphans Pensions</td>
          <td *ngIf="pensioner.pt==43">Armed Services Guardian Pensions</td>
          <td *ngIf="pensioner.pt==44">Armed Services Widowers Pensions</td>
          <td *ngIf="pensioner.pt==45">Armed Services Widowers Orphans Pensions</td>
          <td *ngIf="pensioner.pt==60">Remarried Army Widows</td>
          <td *ngIf="pensioner.pt==61">Remarried Civil Widows</td>
          <td *ngIf="pensioner.pt==62">Remarried Widows</td>
          <td *ngIf="pensioner.pt==68">Police Dissable Age 55 Complete</td>
          <td *ngIf="pensioner.pt==69">Forces Dissable Age 55 Complete</td>
          <td>LKR {{pensioner.tpen}}</td>
          <td *ngIf="pensioner.active==1">ACTIVE</td>
          <td *ngIf="pensioner.active==2">HOLD PENSIONER</td>
          <td>
            <div class="row justify-content-center">
              <button mat-raised-button (click)="more(pensioner)" class="more-button">View more</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>