// h2{
//     font-family: fantasy;
//     color:#3f51b5;
// }
.heading{
    font-size: 30px;
    font-weight: bold;
    color: rgba(15, 14, 14, 0.877);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:364px;
    margin-top: 10px;
} 

.example-stretched-tabs {
    max-width: 100%;
  }

  .content{
      margin-top: 50px;
  }

  button{
      margin-left: 5px;
  }
  .submit{
      height: 400px;
  }
  .next-button{
    width: 150px;
    background-color: rgba(0, 119, 255, 0.808);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);

  }
  .back-button{
    width: 150px;
    background-color: rgba(71, 87, 105, 0.884);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);

  }

  .submit-button{
    width: 150px;
    color: white;
    background-color: rgba(68, 170, 99, 0.884);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);

  }
  .reset-button{
    width:150px;
    border: 2px solid rgba(228, 122, 122, 0.884);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
  }

.label{
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    background-color: white;
}

// .table-row{
//     line-height: 30px;
// }

.label-text{
    margin-top: 15px;
}