<br>
<br>
<h5 mat-dialog-title>{{'personal Document input' | uppercase}}</h5>
<hr>
<br> 
<div class="col-12" [formGroup]="form">
  <div style="padding-top: 20px"> 
    <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">NIC Copy
        </label>
        <div class="col-sm-8">
            <input  type='file' accept="image/x-png,image/gif,image/jpeg,application/pdf" (change)="onSelectNic($event)" #fileInput> 
          <input formControlName="nic" type="text" class="form-control form-control-sm" placeholder="Passport Number" style="display: none">
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label col-form-label-sm">Certified copy of the Appointment letter
      </label>
      <div class="col-sm-8">
          <input  type='file' accept="image/x-png,image/gif,image/jpeg,application/pdf" (change)="onSelectAppointmentletter($event)" #fileInput> 
        <input formControlName="appointmentletter" type="text" class="form-control form-control-sm" placeholder="Passport Number"  style="display: none" >
      </div>
    </div>
  </div>
</div>
