<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Pension Revision : Approved Applications-</h5>
      </div>
    </div>
  </div> <br />
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class='search_box'>
        <form method='get'>
          <input class="searchinput" id="nic" [(ngModel)]="nic" (keyup)="searchnic()" name='q' type='text'
            placeholder="Enter NIC number here.." maxlength="12">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row table-content justify-content-center">
  <div class="col-md-10">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col" class="tbl-header">Ref number</th> -->
          <th scope="col" class="tbl-header">Revision number</th>
          <th scope="col" class="tbl-header">NIC</th>
          <th scope="col" class="tbl-header">Name</th>
          <th scope="col" class="tbl-header">View details</th>
          <th scope="col" class="tbl-header">View Award</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let approved of approveddetails">
          <!-- <td>{{approved.person_id}}</td> -->
          <td>{{approved.revision_id}}</td>
          <td>{{approved.nic}}</td>
          <td>{{approved.name}}</td>
          <td>
            <button mat-raised-button (click)="details(approved.revision_id)" class="more-button">Details</button>
          </td>
          <td>
            <button mat-raised-button (click)="view_award(approved.revision_id)" class="more-button">View Award</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>