<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Pension Revision : Rejected Applications-</h5>
      </div>
    </div>
  </div> <br />
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class='search_box'>
        <form method='get'>
          <input class="searchinput" id="nic" [(ngModel)]="nic" (keyup)="searchnic()" name='q' type='text' placeholder="Enter NIC number here.."
            maxlength="12">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row table-content justify-content-center">
  <div class="col-md-10">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col" class="tbl-header">Ref number</th> -->
          <th scope="col" class="tbl-header">Revision number</th>
          <th scope="col" class="tbl-header">NIC</th>
          <th scope="col" class="tbl-header">Name</th>
          <th scope="col" class="tbl-header">Rejection Reason - DateTime</th>
          <th scope="col" class="tbl-header" style="text-align:center;">View details</th>
          <th scope="col" class="tbl-header" style="text-align:center;" *ngIf="pension_officer">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rejected of rejectedddetails">
          <!-- <td>{{rejected.person_id}}</td> -->
          <td>{{rejected.revision_id}}</td>
          <td>{{rejected.nic}}</td>
          <td>{{rejected.name}}</td>
          <div *ngFor= "let reason of rejected.rejection_reasons">
              <td>{{reason.timeStamp}} - {{reason.reason}} </td>
          </div>
          <td style="text-align:center;">
            <button (click)="View(rejected.revision_id)" class="more-button">View</button>
          </td>
          <td *ngIf="pension_officer" style="text-align:center;">
            <button (click)="Edit(rejected.revision_id)" class="more-button">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>