.next-button{
    width: 213px;
    height: 30px;
    color: white;
    background-color: rgba(51, 144, 250, 0.808);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    border-radius: 10px;
    border: none;
    margin-left: 178px;
}

.label1{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}

.ref{
  text-align: center;
  margin-left: 179px;
}