<h5 style="min-width: 500px;" mat-dialog-title>{{'Serch person' | uppercase}}</h5>
<div class="col-12" [formGroup]="form">
  <div style="padding-top: 20px">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Searc BY
      </label>
      <div class="col-sm-9">
        <select formControlName="searchBy" class="form-control form-control-sm" placeholder="Relation">
          <option value='id'>ID</option>
          <option value='nic'>NIC</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Value
      </label>
      <div class="col-sm-9">
        <input formControlName="value" type="text" class="form-control form-control-sm" placeholder="Enter value">
      </div>
    </div>
  </div>
  <div class="float-right">
    <div class="btn-group" role="group" aria-label="Third group">
      <button style="min-width: 100px" class="float-right btn btn-sm btn-danger" (click)="close()">CANCEL</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <button style="min-width: 100px" class="float-right btn btn-sm btn-primary" [disabled]="!form.valid"
        (click)="saveAndClose()">Search</button>
    </div>
  </div>
</div>