<div class="container">

  <br>
  <div class="row justify-content-end">
    <div class="example-button-row">
      <button type="button" class="btn btn-success btn-sm" (click)='print()'>Print</button>
    </div>
  </div>

  <div id="report_id">
    <!-- <div style="width: 1300px; text-align:center;"> -->
    <div style="text-align:center;">
      <h3>Gratuity Report - Militory</h3>
    </div>
    <br>

    <!-- personal information -->
    <div class="row">
      <div class="col-md-12">
        <p>Personal Information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Full Name</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Date of Birth</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">NIC</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Gender</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Permenant Address</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Telephone</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">E-mail</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Status</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Maritial Status</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">District</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Divisional Secretariet</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Grama Niladari Division</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <br>


    <!-- service information -->
    <div class="row">
      <div class="col-md-12">
        <p>Service Information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Regement No</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Rank</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">NIC</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Pensionable Rank</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Regiment</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Official Address</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Soldier No</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Service Pension No</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Disable Pension No</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Unit</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Appointment Date</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Date of Pension or Death</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Date of Pension or Medical Board Out</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">W&OP No</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Salary Code</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Salary Circular</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Service</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Designation</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <br>


    <!-- dependent information -->
    <div class="row">
      <div class="col-md-12">
        <p>Dependent Information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Maritial Status</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Married</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-sm table-bordered">
          <thead>
            <th>Name</th>
            <th>Relation</th>
            <th>Date of Birth</th>
            <th>NIC</th>
            <th>Differently Abled</th>
          </thead>
          <tbody>
            <tr>
              <td>Saman</td>
              <td>Son</td>
              <td>1999.12.03</td>
              <td>995862542V</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>


    <!-- bank information -->
    <div class="row">
      <div class="col-md-12">
        <p>Bank Information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Bank</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Branch</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Account Number</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <br>


    <!-- pension information -->
    <div class="row">
      <div class="col-md-12">
        <p>Pension Information</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Full Name</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Retirement Reason</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Service Period (Countable)</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Service Period (Uncountable)</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Basic Salary</label>
      </div>
      <div class="col-md-4">
        <label for="fullName">Nuwan Dilsara</label>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Allowances</label>
      </div>
    </div>

    <!-- allowances -->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-sm table-bordered">
          <thead>
            <th>Discription</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr>
              <td>Allowance 1</td>
              <td>20000.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>

    <!-- deductions -->
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <label for="regiment">Deductions</label>
      </div>
    </div>


    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-sm table-bordered">
          <thead>
            <th>Discription</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr>
              <td>Deduction 1</td>
              <td>20000.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <br>


  </div>

</div>