<div class="circle-tile" >
    <div class="circle-tile-content" [ngStyle] ="{'background-color':  color}"  routerLink="{{path}}">
      <div>
        <div class="circle-tile-description text-faded">
            {{name}}
        </div>
        <div class="circle-tile-number text-faded">
          <span id="sparklineA" *ngIf="name=='Approved'">{{approved}}</span>
          <span id="sparklineA" *ngIf="name=='Rejected'">{{rejected}}</span>
          <span id="sparklineA" *ngIf="name=='Pending'">{{pending}}</span>
        </div>
      </div>
      <div class="circle-tile-footer">More Info
        <i class="fa fa-chevron-circle-right"></i>
      </div>
    </div>
  </div>