<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div><br/>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <label>Select Date :</label>
    </div>
    <div class="col-md-8">
      <input type="date" class="form-control" [(ngModel)]="inputDate" />
    </div>
  </div><br />
  <div class="row justify-content-end">
    <button mat-raised-button color="primary" (click)="generate()">Generate</button>
  </div>
</div>