<div class="container">
  <div class="row">
    <label>
      <h2>Edit Pension Details</h2>
    </label>
  </div>
  <hr>

  <form>
    <div class="row">
      <div class="col-md-2">
        <label>Pensiner Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="refNo">
      </div>
      <div class="col-md-2">
        <label>Pensiner Name</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="pensionNo">
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-2">
        <label>Pension Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="nic">
      </div> 
    </div><br/>

    <div class="row">
      <div class="col-md-2">
        <label>Bank</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="nic">
      </div>
      <div class="col-md-2">
        <label>Branch</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="name">
      </div>
    </div><br/>

    <div class="row">
      <div class="col-md-2">
        <label>Account Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="nic">
      </div>
      <div class="col-md-2">
        <label>Confirm Account Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="name">
      </div>
    </div><br/>

  </form>
 
</div>