<form>
  <div class="container content">
    <hr>
    <form action="">
      <div class="form-group row">
        <label class="col-md-6 col-form-label" class="ref">Are you sure that you want to APPROVE this application?
        </label>
      </div>
      <div class="form-group row" style="margin-left: 93px;">
          <button color="primary" class="next-button" (click)="approve()">Approve</button>
          <button color="primary" class="cancel-button" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</form>