.content{
    margin-top:50px;
}

.image{
    border-width: 1px;
    border-style: outset;
    width: 200px;
    height: 200px;
}

.upload-button{
    border-radius: 10px;
    border: 2px solid gray;
    background-color: white;
    margin-left: 20px;
    outline: none;
    font-size: 13px;
}