
<br>
<button class="btn btn-primary btn-sm" style="float: right" (click) = "printSource()">Print</button>
<h5 mat-dialog-title>{{'Profile information' | uppercase}}</h5>
<hr>
<div class="container">
    <div class="row">
        
        <div class="col-md-12" [formGroup]="form">
          <div class="row">
            <div class="col-md-1">
              <label>Status :</label>
            </div>
            <div class="col-md-2">
              <label>Pending</label>
            </div>
            <div class="col-md-2">
              <label style="float: right">Change Status :</label>
            </div>
        
            <div class="col-sm-2">
              <select formControlName="changeStatus" class="form-control form-control-sm" placeholder="Status">
                <option value="1">Approve</option>
                <option value="2">Reject</option>
              </select>
            </div>
            <!-- <button class="btn btn-primary btn-sm" (click)="changeStatus()">Change</button> -->
        
          </div>
        </div>
    </div>
</div>


<hr>
<br>
<app-profile-details></app-profile-details>