.container{
    // margin-top: 75px !important;
    // margin-left: 0px !important;
    // sheight: 100% !important;
    // border: 1px solid black;
    // width: 100%;
    // margin-left: 0px; 
    // position: fixed;
    
}

.print{
    width: 100px;
    margin-left: 1137px;
    margin-top: 2px;
    background-color: rgb(65, 125, 214);
    color: white;
}

.background{
    position: relative;
    height: 100% !important;
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    font-family: serif;
    // color: red;
    color: black;
}

//PLOTTING CORDINATES ACCORDING TO THE AWARD
.div_sect{
    position: absolute;
    top: 4.6%;
    width: 100%;
    left: 57%;
    padding-top: 2.2%;
}
.pension_no{
    position: absolute;
    top: 8.2%;
    width: 100%;
    left: 79%;
    padding-top: 2%;
}

.today_date{
    position: absolute;
    top: 8.8%;
    width: 100%;
    left: 64%;
    padding-top: 15.15%;
}

.top_reference{
    position: absolute;
    right: 8%;
    width: 100%;
    padding-top: 4%;
    top: 11.3%;
    padding-left: 26%;
}

.reference{
    position: absolute;
    left: 16%;
    width: 100%;
    padding-top: 4%;
    top: 14.9%;
    padding-left: 26%;
}

.pensionid{
    position: absolute;
    left: 54%;
    width: 100%;
    padding-top: 21%;
    top: 6%;
    padding-left: 26%;
}

.section1{
    position: absolute;
    left: 3%;
    width: 100%;
    padding-top: 20%;
    top: 12.5%;
    padding-left: 26%;
}

.section{
    position: absolute;
    left: 40%;
    width: 100%;
    padding-top: 20%;
    top: 15.9%;
    padding-left: 26%;
}

.full_name{ 
    position: absolute;
    left: 10%;
    width: 100%;
    padding-top: 21%;
    top: 17%;
    padding-left: 25%;
}

.nic{
    position: absolute;
    left: 43%;
    width: 100%;
    padding-top: 5.5%;
    top: 23%;
    padding-left: 25%;
}

.years{
    position: absolute;
    left: 34%;
    width: 100%;
    padding-top: 4%;
    top: 18%;
    padding-left: 25%;
}

.months{
    position: absolute;
    left: 57%;
    width: 100%;
    padding-top: 4%;
    top: 18%;
    padding-left: 25%;
}

.days{
    position: absolute;
    left: 32%;
    width: 100%;
    padding-top: 4%;
    top: 18.6%;
    padding-left: 25%;
}

.designation{
    position: absolute;
    left: 21%;
    width: 100%;
    padding-top: 0.6%;
    top: 20.4%;
    padding-left: 25%;
}

.gradename{
    position: absolute;
    left: 23%;
    width: 100%;
    padding-top: 0.9%;
    top: 26%;
    padding-left: 25%;
}

.circular{
    position: absolute;
    left: 24%;
    width: 100%;
    padding-top: 4%;
    top: 20.5%;
    padding-left: 26%;
}

.salary_scale{
    position: absolute;
    left: 24%;
    width: 100%;
    padding-top: 4.5%;
    top: 26%;
    padding-left: 26%;
}

.basic_salary{
    position: absolute;
    left: 49%;
    width: 100%;
    padding-top: 4%;
    top: 31.2%;
    padding-left: 25%;
}

.monthly_salary{
    position: absolute;
    left: 50%;
    width: 100%;
    padding-top: 4%;
    top: 28%;
    padding-left: 25%;
}

.retired_date{
    position: absolute;
    left: 20%;
    width: 100%;
    padding-top: 4%;
    top: 35.4%;
    padding-left: 26%;
}

.payable_date{
    position: absolute;
    left: 20%;
    width: 100%;
    padding-top: 4%;
    top: 37%;
    padding-left: 26%;
}

.bpen{
    position: absolute;
    left: 17%;
    width: 100%;
    padding-top: 4%;
    top: 39.6%;
    padding-left: 26%;
}

.allowance{
    position: absolute;
    left: 49%;
    width: 100%;
    padding-top: 4%;
    top: 29.8%;
    padding-left: 25%;
}

.final_amount{
    position: absolute;
    left: 59%;
    width: 100%;
    padding-top: 4%;
    top: 31.5%;
    padding-left: 25%;
}

.net_service_period{
    position: absolute;
    left: 15%;
    width: 100%;
    padding-top: 4%;
    top: 33.5%;
    padding-left: 25%;
}

.fifteen_percentage{
    position: absolute;
    left: 18%;
    width: 100%;
    padding-top: 4%;
    top: 37.3%;
    padding-left: 25%;
}

.seventeen_percentage{
    position: absolute;
    left: 46%;
    width: 100%;
    padding-top: 4%;
    top: 37.3%;
    padding-left: 25%;
}

.fif_unreduced{
    position: absolute;
    left: 18%;
    width: 100%;
    padding-top: 4%;
    top: 39.3%;
    padding-left: 25%;
}

.fif_reduced{
    position: absolute;
    left: 46%;
    width: 100%;
    padding-top: 4%;
    top: 39.3%;
    padding-left: 25%;
}

.sev_unreduced{
    position: absolute;
    left: 48%;
    width: 100%;
    padding-top: 4%;
    top: 43%;
    padding-left: 25%;
}

.sev_reduced{
    position: absolute;
    left: 48%;
    width: 100%;
    padding-top: 4%;
    top: 43%;
    padding-left: 25%;
}

.div_sect_next{
    position: absolute;
    left: 16%;
    width: 100%;
    padding-top: 4%;
    top: 51.8%;
    padding-left: 25%;
}

.div_sect_next1{
    position: absolute;
    left: 36%;
    width: 100%;
    padding-top: 4%;
    top: 64%;
    padding-left: 25%;
}

@media print{
    .container{
        // margin-top: 75px !important;
        // margin-left: 0px !important;
        // sheight: 100% !important;
        // border: 1px solid black;
        // width: 100%;
        // margin-left: 0px; 
        // position: fixed;
        
    }
    // .print{
    //     width: 100px;
    //     margin-left: 1137px;
    //     margin-top: -15px;
    //     background-color: rgb(65, 125, 214);
    //     color: white;
    // }
  
    .background{
        position: relative;
        height: 100% !important;
        width: 106%;
        font-weight: 600;
        font-size: 15px;
        font-family: serif;
        // color: red;
        color: black;
    }
    
    //PLOTTING CORDINATES ACCORDING TO THE AWARD
    .div_sect{
        position: absolute;
        top: 4.6%;
        width: 100%;
        left: 57%;
        padding-top: 2.2%;
    }
    .pension_no{
        position: absolute;
        top: 8.2%;
        width: 100%;
        left: 79%;
        padding-top: 2%;
    }
    
    .today_date{
        position: absolute;
        top: 8.8%;
        width: 100%;
        left: 66%;
        padding-top: 2%;
    }
    
    .top_reference{
        position: absolute;
        right: 8%;
        width: 100%;
        padding-top: 4%;
        top: 11.3%;
        padding-left: 26%;
    }
    
    .reference{
        position: absolute;
        left: 16%;
        width: 100%;
        padding-top: 4%;
        top: 14.9%;
        padding-left: 26%;
    }

    .pensionid{
        position: absolute;
        left: 54%;
        width: 100%;
        padding-top: 20.7%;
        top: 6%;
        padding-left: 26%;
    }

    .section1{
        position: absolute;
        left: 3%;
        width: 100%;
        padding-top: 20%;
        top: 13%;
        padding-left: 26%;
    }
    
    .section{
        position: absolute;
        left: 40%;
        width: 100%;
        padding-top: 20%;
        top: 15.9%;
        padding-left: 26%;
    }
    
    .full_name{ 
        position: absolute;
        left: 10%;
        width: 100%;
        padding-top: 21%;
        top: 17%;
        padding-left: 25%;
    }
    
    .nic{
        position: absolute;
        left: 43%;
        width: 100%;
        padding-top: 5.5%;
        top: 23%;
        padding-left: 25%;
    }
    
    .years{
        position: absolute;
        left: 34%;
        width: 100%;
        padding-top: 4%;
        top: 18%;
        padding-left: 25%;
    }
    
    .months{
        position: absolute;
        left: 57%;
        width: 100%;
        padding-top: 4%;
        top: 18%;
        padding-left: 25%;
    }
    
    .days{
        position: absolute;
        left: 32%;
        width: 100%;
        padding-top: 4%;
        top: 18.6%;
        padding-left: 25%;
    }
    
    .designation{
        position: absolute;
        left: 21%;
        width: 100%;
        padding-top: 0.6%;
        top: 20.4%;
        padding-left: 25%;
    }
    
    .gradename{
        position: absolute;
        left: 23%;
        width: 100%;
        padding-top: 0.9%;
        top: 26%;
        padding-left: 25%;
    }
    
    .circular{
        position: absolute;
        left: 24%;
        width: 100%;
        padding-top: 4%;
        top: 20.5%;
        padding-left: 26%;
    }
    
    .salary_scale{
        position: absolute;
        left: 24%;
        width: 100%;
        padding-top: 4.5%;
        top: 26%;
        padding-left: 26%;
    }
    
    .basic_salary{
        position: absolute;
        left: 49%;
        width: 100%;
        padding-top: 4%;
        top: 31.2%;
        padding-left: 25%;
    }
    
    .monthly_salary{
        position: absolute;
        left: 50%;
        width: 100%;
        padding-top: 4%;
        top: 28%;
        padding-left: 25%;
    }
    
    .retired_date{
        position: absolute;
        left: 20%;
        width: 100%;
        padding-top: 4%;
        top: 35.4%;
        padding-left: 26%;
    }

    .payable_date{
        position: absolute;
        left: 20%;
        width: 100%;
        padding-top: 4%;
        top: 37%;
        padding-left: 26%;
    }

    .bpen{
        position: absolute;
        left: 17%;
        width: 100%;
        padding-top: 4%;
        top: 39.6%;
        padding-left: 26%;
    }
    
    .allowance{
        position: absolute;
        left: 49%;
        width: 100%;
        padding-top: 4%;
        top: 29.8%;
        padding-left: 25%;
    }
    
    .final_amount{
        position: absolute;
        left: 59%;
        width: 100%;
        padding-top: 4%;
        top: 31.5%;
        padding-left: 25%;
    }
    
    .net_service_period{
        position: absolute;
        left: 15%;
        width: 100%;
        padding-top: 4%;
        top: 33.5%;
        padding-left: 25%;
    }
    
    .fifteen_percentage{
        position: absolute;
        left: 18%;
        width: 100%;
        padding-top: 4%;
        top: 37.3%;
        padding-left: 25%;
    }
    
    .seventeen_percentage{
        position: absolute;
        left: 46%;
        width: 100%;
        padding-top: 4%;
        top: 37.3%;
        padding-left: 25%;
    }
    
    .fif_unreduced{
        position: absolute;
        left: 18%;
        width: 100%;
        padding-top: 4%;
        top: 39.3%;
        padding-left: 25%;
    }
    
    .fif_reduced{
        position: absolute;
        left: 46%;
        width: 100%;
        padding-top: 4%;
        top: 39.3%;
        padding-left: 25%;
    }
    
    .sev_unreduced{
        position: absolute;
        left: 48%;
        width: 100%;
        padding-top: 4%;
        top: 43%;
        padding-left: 25%;
    }
    
    .sev_reduced{
        position: absolute;
        left: 48%;
        width: 100%;
        padding-top: 4%;
        top: 42%;
        padding-left: 25%;
    }
    
    .div_sect_next{
        position: absolute;
        left: 16%;
        width: 100%;
        padding-top: 4%;
        top: 51.8%;
        padding-left: 25%;
    }

    .div_sect_next1{
        position: absolute;
        left: 36%;
        width: 100%;
        padding-top: 4%;
        top: 64%;
        padding-left: 25%;
    }

}

@media print and (color) {
    * {
       -webkit-print-color-adjust: exact;
       print-color-adjust: exact;
       zoom: 1.1;
        margin-left: -2%;
        margin-top : -6%;
        margin-right: 2%;
        margin-bottom: 2%;


        .today_date{
            position: absolute;
            top: 8.8%;
            width: 100%;
            left: 64%;
            padding-top: 17.5%;
        }

        .pensionid{
            position: absolute;
            left: 54%;
            width: 100%;
            padding-top: 23.5%;
            top: 6%;
            padding-left: 26%;
        }

        .section1{
            position: absolute;
            left: 3%;
            width: 100%;
            padding-top: 20%;
            top: 13.5%;
            padding-left: 26%;
        }

        .section{
            position: absolute;
            left: 40%;
            width: 100%;
            padding-top: 22%;
            top: 15.9%;
            padding-left: 22%;
        }

        .full_name{ 
            position: absolute;
            left: 10%;
            width: 100%;
            padding-top: 23.5%;
            top: 17%;
            padding-left: 25%;
        }

        .nic{
            position: absolute;
            left: 43%;
            width: 100%;
            padding-top: 8%;
            top: 23%;
            padding-left: 25%;
        }

        .gradename{
            position: absolute;
            left: 23%;
            width: 100%;
            padding-top: 2.5%;
            top: 26%;
            padding-left: 25%;
        }

        .salary_scale{
            position: absolute;
            left: 24%;
            width: 100%;
            padding-top: 7.3%;
            top: 26%;
            padding-left: 26%;
        }
        
        .monthly_salary{
            position: absolute;
            left: 50%;
            width: 100%;
            padding-top: 7.5%;
            top: 28%;
            padding-left: 25%;
        }

        .basic_salary{
            position: absolute;
            left: 49%;
            width: 100%;
            padding-top: 7%;
            top: 31.2%;
            padding-left: 25%;
        }
        
        .allowance{
            position: absolute;
            left: 49%;
            width: 100%;
            padding-top: 7%;
            top: 29.8%;
            padding-left: 25%;
        }

        .net_service_period{
           position: absolute;
           left: 15%;
            width: 100%;
            padding-top: 4%;
            top: 34.5%;
            padding-left: 25%;
        }

        .retired_date{
            position: absolute;
            left: 20%;
            width: 100%;
            padding-top: 4%;
            top: 36.5%;
            padding-left: 26%;
        }
        
        .payable_date{
            position: absolute;
            left: 20%;
            width: 100%;
            padding-top: 4%;
            top: 38%;
            padding-left: 26%;
        }

        .bpen{
            position: absolute;
            left: 17%;
            width: 100%;
            padding-top: 4%;
            top: 40.7%;
            padding-left: 26%;
        }

        .sev_reduced{
            position: absolute;
            left: 48%;
            width: 100%;
            padding-top: 4%;
            top: 44.2%;
            padding-left: 25%;
        }
        
        .div_sect_next{
            position: absolute;
            left: 16%;
            width: 100%;
            padding-top: 4%;
            top: 53.1%;
            padding-left: 25%;
        }
        
        .div_sect_next1{
            position: absolute;
            left: 36%;
            width: 100%;
            padding-top: 4%;
            top: 65.07%;
            padding-left: 25%;
        }
    }
 }