<h2 class="text-muted">Dashboard - Manual Pension Revision</h2>
<label for="" style="font-size: 20px;font-weight: bold;">This Manual Revision is only applicable for the following sections - Schedule q  | 2:12  | 2:14(30/88) | 2:15  | 2:25  | 2:17</label>

<hr>
<div class="row">
  <div class="col-md-4 col-xs-3" 
  *ngFor="let dashboardConfig of dashboardConfig.dashboardConfig">
    <app-pd6-dashboard-tile 
    [name]="dashboardConfig.name" 
    [path]="dashboardConfig.path" 
    [color]="dashboardConfig.color">
    </app-pd6-dashboard-tile>
  </div>
</div>
