button{
    float: right;
}

h3{
    font-family: fantasy;
    color:#3f51b5;
}


table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
  }
  
 .tr1{
  background-color: rgb(241, 240, 240);
 }
  
  tr:hover {
    background-color: rgba(221, 221, 221, 0.856);
  }
  
  button{
    float: right;
  }

  .td1{
    width: 25%;
  }