@import url('https://fonts.googleapis.com/css?family=Bree+Serif'); 
* {
  font-family: inherit;
  margin: 0px;
} 
.heading{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: serif;
   // margin-left: -163px;
   text-align: center;
   background-color:#797D7F ;
}
.search_all {
  text-align: center;
  width: 50%;
  color: black;
  margin: auto;
} 
.search_box {
  margin: 20px;
} 
.search_box .searchinput {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-color: 2px solid rgba(26, 123, 233, 0.808);
  border-radius: 15px;
  outline: none;
} 
.search_submit {
  padding: 20px;
} 
.search_submit input {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border: 2px solid rgba(48, 135, 235, 0.808);
  border-radius: 2px;
  background-color: white;
}
.content{
   margin-top: 50px;
}
#search{
    width:150px;
    height: 45PX;
}
.table-content{
    margin-top: 50px;
    border: 2px solid rgb(116, 114, 114);
}
.search-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 171px;
}
.submit-button-one{
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgba(48, 135, 235, 0.808);
    -webkit-box-shadow: 0px 2px 16px 2px rgb(175, 170, 175);
    -moz-box-shadow: 0px 2px 16px 2px rgb(236, 228, 236);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
}
.more-button{
    width: 120px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
    outline: none;
}
.tbl-header{
    font-weight: bold;
}