<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Pension Revision : Salary Negative Increase Applications -</h5>
      </div>
    </div>
  </div> <br />
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class='search_box'>
        <form method='get'>
          <input class="searchinput" id="nic" [(ngModel)]="nic" (keyup)="searchnic()" name='q' type='text'
            placeholder="Enter NIC number here.." maxlength="12">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row table-content justify-content-center">
  <div class="col-md-10">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="tbl-header">Revision number</th>
          <th scope="col" class="tbl-header">NIC</th>
          <th scope="col" class="tbl-header">Name</th>
          <th scope="col" class="tbl-header" style="text-align:left;">Details</th>
          <th scope="col" class="tbl-header" style="text-align:center;" *ngIf="pension_officer">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let negative of negativeDetails">
          <td>{{negative.revision_id}}</td>
          <td>{{negative.nic}}</td>
          <td>{{negative.name}}</td>
          <td>
            <button mat-raised-button 
            (click)="details(negative.revision_id,negative.status)" class="more-button">Details</button>
          </td>
          <td *ngIf="pension_officer" style="text-align:center;">
            <button (click)="Edit(negative.revision_id,negative.status)" class="more-button">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>