.content{
    margin-top: 50px;
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

.convert-button{
    background-color: rgb(119, 173, 119);
    border-radius: 10px;
    color: white;
    outline: none;
}

.convert-button1{
    background-color: rgb(119, 173, 119);
    border-radius: 10px;
    color: white;
    outline: none;
}
.min-button{
    background-color: rgb(132, 185, 230);
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    color: white;
}

.callabel{
    margin-left: 267px;
    font-size: 20px;
    font-weight: bold;
}