<br>
<br>
<h5 mat-dialog-title>{{'Dashbord' | uppercase}}</h5>
<hr>
<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Person ID -->
      <ng-container matColumnDef="personId">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Person ID </th>
        <td mat-cell *matCellDef="let element"> {{element.persion_id}} </td>
      </ng-container>
  
      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- NIC -->
      <ng-container matColumnDef="nic">
        <th mat-header-cell *matHeaderCellDef style="width: 25%;"> NIC </th>
        <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
      </ng-container>

      <!-- Wnop Number -->
      <ng-container matColumnDef="wnopNumber" style="width: 20%;">
          <th mat-header-cell *matHeaderCellDef > W&OP Number </th>
          <td mat-cell *matCellDef="let element"> {{element.wnopNumber}} </td>
        </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="tool" style="width: 10%;">
        <th mat-header-cell *matHeaderCellDef > Tool </th>
        <td mat-cell *matCellDef="let element">
            <button class="btn btn-primary btn-sm" style="width:60px; height: 28px; margin-right: 10px" (click)="viewPerson(element.persion_id)"> View </button>
            <button class="btn btn-primary btn-sm" style="width:60px; height: 28px; margin-right: 10px"  (click)="editPerson(element.persion_id)"> Edit </button>
            <button class="btn btn-primary btn-sm" style="width:60px; height: 28px; margin-right: 10px"> Delete </button>
        </td>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>